@import "../Styles/Variables/Variables.scss";

.load-more-btn{
  margin-top: 10px;
  margin-bottom: 50px;
}

.navbar{
  margin-bottom: 30px;
}

.react-select {
  margin-bottom: 20px;
  max-width: 300px !important;
}
